.image-item {
  list-style-type: none;
  margin-bottom: 40px;
}
.thumbnail-image {
  width: 90px;
  height: 90px;
  margin: 5px;
}
.button-img {
  background-color: transparent;
  border-width: 0px;
}
